<!DOCTYPE html>
<html>
<head>
  <title>HydraMyplugin</title>
  <%= stylesheet_link_tag    "hydra_myplugin/application", media: "all" %>
  <%= javascript_include_tag "hydra_myplugin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
